.container-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;

  h1 {
    color: #343436;
    font-family: "Inter", sans-serif;
    font-size: 26px;
  }

  #basic_username {
    background-color: transparent;
    min-width: 590px;
    padding: 8px;
  }

  #basic_password {
    background-color: transparent;
    outline: none;
    border: none;
  }

  .ant-input-affix-wrapper:focus-within {
    border-color: #343436;
  }

  .ant-input-password {
    background-color: transparent;
    border-radius: 10px;
    outline: 1px solid rgba(133, 133, 133, 0.534);
    border: none;
    border-radius: 6px;
    padding: 10px;
  }

  .group-signin-inputs {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .ant-input-affix-wrapper {
      background-color: transparent;
      max-height: 42px;
    }

    .ant-input-affix-wrapper:hover {
      background-color: transparent;
    }

    .ant-row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    input {
      min-width: 550px;
      background-color: transparent;
      color: #343436;
      font-family: "Open Sans", sans-serif;
      outline: 1px solid rgba(133, 133, 133, 0.534);
      border: none;
    }

    label {
      color: #343436;
      font-family: "Open Sans", sans-serif;
    }
  }

  .group-btn {
    margin-top: 60px;
    display: flex;
    justify-content: center;

    .ant-form-item-control {
      margin: 0;
    }
  }
}

@media screen and (max-width: 580px) {
  .container-signin {
    h1 {
      font-size: 24px;
      text-align: center;
    }

    .group-signin-inputs {
      gap: 30px;

      .ant-form-item {
        max-height: 50px;
      }
    }

    #basic_username {
      min-width: 250px;
    }

    #basic_password {
      min-width: 210px;
    }
  }
}
