.container-signup-form {
  h1 {
    color: #343436;
    font-family: "Inter", sans-serif;
    font-size: 26px;
  }

  .ant-input {
    background-color: transparent;
  }

  .ant-input-password {
    background-color: transparent;
    border-radius: 10px;
    outline: 1px solid rgba(133, 133, 133, 0.534);
    border: none;
    border-radius: 6px;
  }

  .ant-input:hover {
    background-color: transparent;
  }

  #basic_firstName {
    background-color: transparent;
    min-width: 590px;
  }

  #basic_lastName {
    background-color: transparent;
    min-width: 590px;
  }

  .ant-input-affix-wrapper:focus-within {
    border-color: #343436;
  }

  .ant-input-affix-wrapper:hover {
    border-color: #343436;
  }

  .ant-input-outlined:focus {
    border-color: #343436;
  }

  #basic_email {
    background-color: transparent;
    min-width: 590px;
  }

  #basic_password {
    padding-left: 0;
    background-color: transparent;
    outline: none;
    border: none;
  }

  #basic_conPassword {
    padding-left: 0;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .group-input-names {
    color: #343436;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 60px;

    .ant-row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    label {
      color: #343436;
      font-family: "Inter", sans-serif;
      font-size: 16px;
    }

    input {
      min-width: 200px;
      background-color: transparent;
      color: #343436;
      font-family: "Inter", sans-serif;
      outline: 1px solid rgba(133, 133, 133, 0.534);
      border: none;
      padding: 8px;
    }
  }

  .group-input-email {
    color: #343436;
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
    // margin-top: 40px;

    .ant-row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    label {
      // margin-top: 40px;
      color: #343436;
      font-family: "Inter", sans-serif;
      font-size: 16px;
    }

    input {
      min-width: 420px;
      background-color: transparent;
      color: #343436;
      font-family: "Inter", sans-serif;
      outline: 1px solid rgba(133, 133, 133, 0.534);
      border: none;
      padding: 8px;
    }
  }

  .group-input-password {
    color: #343436;
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin-bottom: 60px;

    .ant-input-affix-wrapper {
      background-color: transparent;
      max-height: 42px;
    }

    .ant-input-affix-wrapper:hover {
      background-color: transparent;
    }

    .ant-row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    label {
      color: #343436;
      font-family: "Inter", sans-serif;
      font-size: 16px;
    }

    input {
      min-width: 550px;
      background-color: transparent;
      color: #343436;
      font-family: "Inter", sans-serif;
      outline: 1px solid rgba(133, 133, 133, 0.534);
      border: none;
      padding: 8px;
    }
  }

  .group-input-btn {
    display: flex;
    justify-content: center;

    .ant-col {
      margin: 0;
    }
  }
}
